<div>
  <div class="questions">
    <p>{{text}}}</p>
    <hr />
    <ul>
      <li *ngFor="let question of questions; let i = index">
        {{i + 1}}. {{question.text}}
      </li>
    </ul>
    <table border="1">
      <tr class="headers top">
        <td [attr.colspan]="2" [attr.rowspan]="2" class="black"></td>
        <ng-container *ngFor="let category of categories">
          <td [attr.colspan]="category.options.length" *ngIf="(category.primary && category.top)">
            {{category.text}}
          </td>
        </ng-container>
        <ng-container *ngFor="let category of categories">
          <td [attr.colspan]="category.options.length" *ngIf="(!category.primary)">
            {{category.text}}
          </td>
        </ng-container>
      </tr>
      <tr class="options top">
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="(category.primary && category.top)">
            <td [attr.colspan]="1" *ngFor="let option of category.options; let i = index" [ngClass]="{'last': i === category.options.length - 1}">
              <span>{{option.text}}</span>
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="(!category.primary)">
            <td [attr.colspan]="1" *ngFor="let option of category.options; let i = index" [ngClass]="{'last': i === category.options.length - 1}">
              <span>{{option.text}}</span>
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <ng-container *ngFor="let category of categories">
        <ng-container *ngIf="(category.primary && !category.top)"> <!-- left primary -->
          <tr>
            <td class="headers left" [attr.rowspan]="1"><span>{{category.text}}</span></td>
            <td>
              <table>
                <tr *ngFor="let option of category.options">
                  <td>{{option.text}}</td>
                </tr>
              </table>
            </td>
            <ng-container *ngFor="let category of categories; let cCategory = index">
              <ng-container *ngIf="(category.primary && category.top)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let category of categories; let categoryIndex = index">
                        <ng-container *ngIf="(category.primary && !category.top)">
                          <ng-container *ngFor="let option of category.options; let row = index">
                            <tr class="values">
                              <td
                                (dblclick)="toggleUnActive(row, col + ((categoryIndex - 1) * category.options.length))"
                                (click)="toggleActive(row, col + ((categoryIndex - 1) * category.options.length))"
                                [ngClass]="{
                                  'active': row === file || col + ((categoryIndex - 1) * category.options.length) === column,
                                  'hide': (col + ((categoryIndex - 1) * category.options.length) > 9 && row > 4) || (col + ((categoryIndex - 1) * category.options.length) > 4 && row > 9),
                                  'selected': selecteds[row] && selecteds[row] && selecteds[row][col + ((categoryIndex - 1) * category.options.length)] || false,
                                  'notHere': empties[row] && empties[row][col + ((categoryIndex - 1) * category.options.length)] || false
                                }"
                                (mouseenter)="moveOverCell(row, col + ((categoryIndex - 1) * category.options.length))"
                              >
                                A
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="(!category.primary)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let option of category.options; let row = index">
                        <ng-container *ngIf="(!category.primary)">
                            <tr class="values">
                              <td
                                (dblclick)="toggleUnActive(row, cCategory * categories[0].options.length + col)"
                                (click)="toggleActive(row, cCategory * categories[0].options.length + col)"
                                [ngClass]="{
                                  'active': row === file || cCategory * categories[0].options.length + col === column,
                                  'hide': (cCategory * categories[0].options.length + col > 9 && row > 4) ||  (cCategory * categories[0].options.length + col > 4 && row > 9),
                                  'selected': selecteds[row] && selecteds[row][cCategory * categories[0].options.length + col] || false,
                                  'notHere': empties[row] && empties[row][cCategory * categories[0].options.length + col] || false
                                 }"
                                (mouseenter)="moveOverCell(row, cCategory * categories[0].options.length + col)"
                              >
                                A
                              </td>
                            </tr>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let category of categories | reverse; let cat = index"> <!-- left not primary -->
        <ng-container *ngIf="(!category.primary)">
          <tr>
            <td class="headers left" [attr.rowspan]="1"><span>{{category.text}}</span></td>
            <td>
              <table>
                <tr *ngFor="let option of category.options">
                  <td>{{option.text}}</td>
                </tr>
              </table>
            </td>
            <ng-container *ngFor="let category of categories; let mCategory = index">
              <ng-container *ngIf="(category.primary && category.top)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let category of categories; let categoryIndex = index">
                        <ng-container *ngIf="(category.primary && !category.top)">
                          <ng-container *ngFor="let option of category.options; let row = index;">
                            <tr class="values">
                              <td
                                (dblclick)="toggleUnActive((cat + 1) * category.options.length + row, col + ((categoryIndex - 1) * category.options.length))"
                                (click)="toggleActive((cat + 1) * category.options.length + row, col + ((categoryIndex - 1) * category.options.length))"
                                [ngClass]="{
                                  'active': (cat + 1) * category.options.length + row === file || col + ((categoryIndex - 1) * category.options.length) === column,
                                  'hide': (col + ((categoryIndex - 1) * category.options.length) > 9 && (cat + 1) * category.options.length + row > 4) || (col + ((categoryIndex - 1) * category.options.length) > 4 && (cat + 1) * category.options.length + row > 9),
                                  'selected': selecteds[(cat + 1) * category.options.length + row] && selecteds[(cat + 1) * category.options.length + row][col + ((categoryIndex - 1) * category.options.length)] || false,
                                  'notHere': empties[(cat + 1) * category.options.length + row] && empties[(cat + 1) * category.options.length + row][col + ((categoryIndex - 1) * category.options.length)] || false
                                 }"
                                (mouseenter)="moveOverCell((cat + 1) * category.options.length + row, col + ((categoryIndex - 1) * category.options.length))"
                              >A</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="(!category.primary)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let option of category.options; let row = index">
                        <ng-container *ngIf="(!category.primary)">
                          <tr class="values">
                            <td
                                (dblclick)="toggleUnActive((cat + 1) * categories[0].options.length + row, col + (mCategory * categories[0].options.length))"
                                (click)="toggleActive((cat + 1) * categories[0].options.length + row, col + (mCategory * categories[0].options.length))"
                                (mouseenter)="moveOverCell((cat + 1) * categories[0].options.length + row, col + (mCategory * categories[0].options.length))"
                                [ngClass]="{
                                  'hide': (col + (mCategory * categories[0].options.length) > 9 && (cat + 1) * categories[0].options.length + row > 4) || (col + (mCategory * categories[0].options.length) > 4 && (cat + 1) * categories[0].options.length + row > 9),
                                  'active': (cat + 1) * categories[0].options.length + row === file || col + (mCategory * categories[0].options.length) === column,
                                  'selected': selecteds[(cat + 1) * categories[0].options.length + row] && selecteds[(cat + 1) * categories[0].options.length + row][col + (mCategory * categories[0].options.length)] || false,
                                  'notHere': empties[(cat + 1) * categories[0].options.length + row] && empties[(cat + 1) * categories[0].options.length + row][col + (mCategory * categories[0].options.length)] || false
                                }"
                            >
                              A
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>

