<div>
  <div class="questions">
    <p>{{text}}}</p>
    <hr />
    <ul>
      <li *ngFor="let question of questions; let i = index">
        {{i + 1}}. {{question.text}}
      </li>
    </ul>
    <table border="1">
      <tr class="headers top">
        <td [attr.colspan]="2" [attr.rowspan]="2" class="black"></td>
        <ng-container *ngFor="let category of categories">
          <td [attr.colspan]="category.options.length" *ngIf="(category.primary && category.top)">
            {{category.text}}
          </td>
        </ng-container>
        <ng-container *ngFor="let category of categories">
          <td [attr.colspan]="category.options.length" *ngIf="(!category.primary)">
            {{category.text}}
          </td>
        </ng-container>
      </tr>
      <tr class="options top">
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="(category.primary && category.top)">
            <td [attr.colspan]="1" *ngFor="let option of category.options; let i = index" [ngClass]="{'last': i === category.options.length - 1}">
              <span>{{option.text}}</span>
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="(!category.primary)">
            <td [attr.colspan]="1" *ngFor="let option of category.options; let i = index" [ngClass]="{'last': i === category.options.length - 1}">
              <span>{{option.text}}</span>
            </td>
          </ng-container>
        </ng-container>
      </tr>
      <ng-container *ngFor="let category of categories">
        <ng-container *ngIf="(category.primary && !category.top)"> <!-- left primary -->
          <tr>
            <td class="headers left" [attr.rowspan]="1"><span>{{category.text}}</span></td>
            <td>
              <table>
                <tr *ngFor="let option of category.options">
                  <td>{{option.text}}</td>
                </tr>
              </table>
            </td>
            <ng-container *ngFor="let category of categories; let mCategory = index">
              <ng-container *ngIf="(category.primary && category.top)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let category of categories; let categoryIndex = index">
                        <ng-container *ngIf="(category.primary && !category.top)">
                          <ng-container *ngFor="let option of category.options; let row = index">
                            <tr>
                              <td
                                (mouseenter)="moveOverCell(row, col + ((categoryIndex - 1) * category.options.length))"
                              >
                                A
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="(!category.primary)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let option of category.options; let row = index">
                        <ng-container *ngIf="(!category.primary)">
                            <tr>
                              <td
                                (mouseenter)="moveOverCell(row, col + (mCategory * categories[0].options.length))"
                              >
                                A
                              </td>
                            </tr>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let category of categories | reverse"> <!-- left not primary -->
        <ng-container *ngIf="(!category.primary)">
          <tr>
            <td class="headers left" [attr.rowspan]="1"><span>{{category.text}}</span></td>
            <td>
              <table>
                <tr *ngFor="let option of category.options">
                  <td>{{option.text}}</td>
                </tr>
              </table>
            </td>
            <ng-container *ngFor="let category of categories">
              <ng-container *ngIf="(category.primary && category.top)">
                <ng-container *ngFor="let option of category.options; let col = index">
                  <td>
                    <table>
                      <ng-container *ngFor="let category of categories; let categoryIndex = index">
                        <ng-container *ngIf="(category.primary && !category.top)">
                          <ng-container *ngFor="let option of category.options; let row = index;">
                            <tr>
                              <td
                                (mouseenter)="moveOverCell((categoryIndex), 0)"
                              >A</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="(!category.primary)">
                <ng-container *ngFor="let option of category.options">
                  <td>
                    <table>
                      <ng-container *ngFor="let option of category.options">
                        <ng-container *ngIf="(!category.primary)">
                          <tr>
                            <td>A</td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </table>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>

